{% load static %}
{% load cart_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'cart/view_cart.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/icons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/icons/favicon-16x16.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="manifest" href="{% static 'main/icons/site.webmanifest' %}">
    <title>Корзина</title>
</head>
<body>
<div class="wrapper">
    <header>
            <span class="logo"><a href="{% url 'home' %}">Gone Brand Shop</a></span>
            <ul class="nav">
                <li><a href="{% url 'about' %}">Про нас</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'view_cart' %}">Корзина</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Корзина</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account' %}">Кабинет</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Кабинет</a></li>
                {% endif %}
            </ul>
    </header>
    {% if cart %}
<div class="main-wrapper">

    <div class="main">
        <h1>Ваша корзина</h1>
    <div class="container">

    <ul>
      {% for cart_item in cart %}
        <li class="product">
        <a href="{% url 'remove_from_cart' cart_item.id %}"><i class='bx bx-trash' ></i></a>
          {{ cart_item.product.name }} <a href="{% url 'decrement_cart' cart_item.id %}"><i  class='bx bx-minus' ></i></a><span class="item-quantity">{{ cart_item.quantity }}</span>
            <a href="{% url 'increment_cart' cart_item.id %}"><i class='bx bx-plus' ></i></a>
         <span class="total-price-position"> {{ cart_item.product.price|mul:cart_item.quantity }} ₽ </span>

        </li>
      {% endfor %}
    </ul>
      </div>



  <div class="continue"><a href="{% url 'home' %}">Продолжить покупки</a></div>
    </div>

<div class="ordering">
    <h1>Оформление заказа</h1>
    <div class="ordering-container">
        <div class="total-price">Общая стоимость: {{ cart|total_cost }} ₽</div>
        <button  class="order-button">Оформить</button>
    </div>
</div>
</div>
{% else %}
    <div class="empty"> Ваша корзина пуста.</div>
{% endif %}
</div>
</body>
</html>