* {
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
    color: #222;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 1280px;
    margin: 50px auto;
}
header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;

}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 0.15s ease;
}
header ul.nav li:hover{
    opacity: 0.8;
}

header .presentation {
    margin: 50px 0;
    background: url("imgs/banner.jpg") no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after{
    content: 'Gone brands at the best prices';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}
header .presentation::before{
    content: 'Dress as you like';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    width: 30%;
    margin-bottom: 50px;
    overflow: hidden;

}
img {
    width: 100%;
    border-radius: 10px 10px;
    transition: transform 200ms ease;
    cursor: pointer;
}
img:hover {
    transform: scale(1.05);
}
h2 {
    color: #333;
    font-weight: normal;
}
.name {
    color: #333;
    font-weight: 500;
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
}

.price {
    color: #333;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 100px;
}

